body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#quotes {
    background-color: darkslategray;
    padding-top: 10px;
    padding-bottom: 10px;
}

html {
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;

}